//main width of content
$content-width: 1200px;

// page colors
$nav-sidePanel-color: #5B605F;
$header-color:#49494A;
$buttons-color:#FF6600;
$background-color:#FFFFFA;
$message-info:#3498DB;
$message-warning:#FFB03B;
$message-success: #468966;
$dustbin-color:#BD4932;
$icons-and-table-color:#A1A194;
$header-accents-color: #E58A20;

//fonts
$main-font: 'Open Sans', sans-serif;
$logo-font: 'Charmonman', sans-serif;
$font-main-size: 14px;
$font-color-secondary:#FFFFFF;
