@import "../../base/variables";
@import "../../base/mixins";

.author-info {
	background-color: $background-color;
	div.content {
		display: flex;
		justify-content: space-between;
		min-height: 20vh;
		padding: 80px 0;
		font-family: $main-font, arial, sans-serif;
		max-width: $content-width;

		.author-info-img-container {
			min-width: 20rem;
			min-height: 20rem;
			max-width: 15rem;
			max-height: 150px;
			background-color: $nav-sidePanel-color;
			margin-right: 5rem;
		}

		.author-info-text-container {
			flex-basis: 35vw;

			.author-info-header {
				margin-bottom: 10px;
				font-weight: normal;
				font-size: 30px;
			}

			.author-info-text {
				font-size: $font-main-size;
			}
		}
	}
}
