@import "../../base/variables";
@import "../../base/mixins";

.cta {
    background-color: $nav-sidePanel-color;
    div.content {
        width: 100%;
        min-height: 13rem;

        font-family: 'Open sans', sans-serif;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        h3 {
            color: $font-color-secondary;
            font-size: 1.5rem;
            font-weight: 400;
            padding-bottom: 1rem;
        }

        p {
            color: $font-color-secondary;
            font-size: 1rem;
        }

        .cta-btn {
            @include button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 10rem;
                height: 3rem;
                margin-left: auto;
                margin-right: auto;
                font-weight: 600;
                text-decoration: none;
                line-height: 1rem;
            }
        }
    }
}