@import "../../base/variables";
@import "../../base/mixins";

.visible {
  display: flex;
}
.app-welcome-Panel {
  @include appMessage {
    background-color: transparent;
    border: none;
    display: none;
  }
  @include flex(column, $justify-content:space-between, $align-items:center);
  .widgets {
    width: 100%;
    height: 25%;
    @include flex($justify-content:space-between, $align-items:center);
  }
}
//krystian
#add-widgets {
  @include flex($justify-content:space-between, $align-items:flex-start);
  height: 100%;
  width: 37%;
  > div {
    height: 100%;
    width: 35%;
    a {
      background-color: $background-color;
      @include flex($justify-content:center, $align-items:center);
      img {
        max-width: 100%;
        max-height: 100%;
        @include breakPoint1400px {
          max-width: 110%;
          max-height: 110%;
        }
      }
    }
  }
}
//Maciej
#status-widgets {
  @include flex(column, $justify-content:space-between, $align-items:flex-start);
  height: 100%;
  width: 55%;
  > div {
    @include flex($justify-content:flex-start, $align-items:center);
    width: 100%;
    height: 29%;
    background-color: $background-color;
    &:first-child {
      border: 1px $message-info dashed;
      color: $message-info;
    }
    &:nth-child(2) {
      border: 1px $message-warning dashed;
      color: $message-warning;
    }
    &:last-child {
      border: 1px $message-success dashed;
      color: $message-success;
    }
    div {
      @include flex(row, $justify-content:space-between, $align-items:center);
      width: 100%;
      p {
        font-weight: 600;
        margin-left: 1%;
        .widget-icon {
          font-size: 1.5rem;
          //pls do not remove @media
          @include breakPoint1400px {
            font-size: 2rem;
          }
        }
      }
      .fa-window-close {
        margin: 0 2% 2.5% 0;
      }
    }
  }
}
//Michał
#week-plan {
  width: 100%;
  height: 70%;
  background-color: $background-color;
  border: 1px black dashed;
  margin-top: 1rem;
  padding: 1rem;
  div {
    button {
      color: $message-warning;
      border: none;
      font-size: 1rem;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;
      background: transparent;
      line-height: normal;
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      -webkit-appearance: none;
      cursor: pointer;
      i {
        margin-left: .5rem;
        margin-right: .5rem;
        font-size: 1.2rem;
      }
      &:focus {
        outline: none;
      }
      &::-moz-focus-inner {
        border: 0;
        padding: 0;
      }
    }

    button#prev {
      float: left;
      margin: .5rem;
    }
    button#next {
      float: right;
      margin: .5rem;
    }

  }
  table {
    width: 100%;
    border-collapse: collapse;
    caption {
      color:$message-warning;
      font-size: 1.6rem;
      padding-bottom: 0.5rem;
      font-weight: 800;
      border-bottom: .5px solid $font-color-grey;
    }
    tr {
      th {
        font-size: 1.5rem;
        text-align: left;
        color: $header-color;
        line-height: 3rem;
        border-bottom: .5px solid $font-color-grey;
      }
      td {
        color: $font-color-grey;
        font-size: 1.3rem;
        line-height: 3rem;
        border-bottom: .5px solid $font-color-grey;
      }
    }
  }
}
