@import "../../base/variables";
@import "../../base/mixins";

.content {
  margin: auto;
  max-width: $content-width;
}

//header
header {
  min-height: 6rem;
  .navigation {
    max-width: $content-width;
    margin: 0 auto;
  }
}

//section banner
.banner {
  min-height: 35rem;
  .banner-container {
    max-width: 1500px; //tu nie moze byc 1200px, bo brzydko wygląda i nie jest jak na makiecie
    margin: 0 auto;
    .slides {
      max-width: $content-width; // nie można dawać banerowi i slajdom takiego samego width,
    }
  }
}