@import "../../base/variables";
@import "../../base/mixins";

#new-recipe {
  @include flex($justify-content:center, $align-items:center);
  height: 90vh;
  width: 85vw;
  color: $font-color-grey;
  .wrapper {
    @include appMessage;
    padding: 3% 3%;
  }
  #recipe-header {
    @include flex(row,$justify-content: space-between);
    font-family: $main-font;
    font-size: $font-main-size;
    color: $font-color-grey;
    width: 100%;
    padding-bottom: .5%;
    border-bottom: 2px solid #CBCBCB;
    label {
      color:$buttons-color;
      font-size: 1.5rem;
      font-weight: 600;
    }
    #save {
      @include button {
        outline: none;
        height: 2rem;
        width: 20%;
        font-size: 1rem;
      }
    }
  }
}

#recipe-name {
  @include flex(row,$justify-content: space-between);
  margin: 1.5% 0;
  font-size: 1.5rem;
  textarea {
    width: 70%;
    height: 2rem;
    resize: none;
  }
}

#recipe-description {
  @include flex(row,$justify-content: space-between);
  font-size: 1.5rem;
  textarea {
    width: 70%;
    height: 5rem;
    resize: none;
  }
}
#main-area {
  @include flex(row, $justify-content:space-between);
  margin-top: 1.5%;
  font-size: 1.5rem;
  width: 100%;
  .instructions, .ingredients {
    @include flex(column, $justify-content:space-between);
    width: 48%;
    height: 100%;
    div {
      &:first-child{
        border-bottom: 2px solid #CBCBCB;
        margin-bottom: 1.5%;
        width: 100%;
      }
      &:nth-child(2) {
        width: 100%;
        height: 40%;
        @include flex;
        .fa-plus-square {
          font-size: 2rem;
          color: $message-success;
        }
        textarea {
          width: 99%;
          resize: none;
        }
      }
      &:nth-child(3) {
        height: 15vh;
        @include breakPoint1400px {
          height: 30vh;
        }
        width: 100%;
        font-size: 1.2rem;
        margin-top: 1.5%;
        overflow-y: scroll;
        flex-grow: 0;
      }
    }
  }
}